<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battle_project</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/main.js" defer></script>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo">MyBLOG</a>
			
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
				<li class="nav-item">
	
                </li>

                <li class="nav-item">
                    <a href="/login" class="nav-link">login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link">Registration</a>
                </li>

            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section class="infos">
        <p></p>

    </section>
    <section class="services">

    </section>

	<section>
		
	</section>

    <!-- footer -->
	<div class="footer">
        <div class="heading">
          <h2>MyBLOG<sup>™</sup></h2>
        </div>
        <div class="content">
          <div class="services">
            <h4>Services</h4>
            <p><a href="#">to post</a></p>
            <p><a href="#">to sell</a></p>
            <p><a href="#">to buy</a></p>
            <p><a href="#">to meet</a></p>
          </div>
          <div class="social-media">
            <h4>Social</h4>
            <p>
              <a href="#"
                ><i class="fab fa-linkedin"></i> Linkedin</a
              >
            </p>
            <p>
              <a href="#"
                ><i class="fab fa-twitter"></i> Twitter</a
              >
            </p>
            <p>
              <a href="#"
                ><i class="fab fa-github"></i> Github</a
              >
            </p>
            <p>
              <a href="#"
                ><i class="fab fa-facebook"></i> Facebook</a
              >
            </p>
            <p>
              <a href="#"
                ><i class="fab fa-instagram"></i> Instagram</a
              >
            </p>
          </div>
          <div class="links">
            <h4>Quick links</h4>
            <p><a href="#">Services</a></p>
            <p><a href="#">Blog</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">Contact</a></p>
          </div>
          <div class="details">
            <h4 class="address">Address</h4>
            <p>
                We are located in the commune of cocody,  <br />
                Angre crossroads gestoci
            </p>
            <h4 class="mobile">Mobile</h4>
            <p><a href="#">+225 0758504822</a></p>
            <h4 class="mail">Email</h4>
            <p><a href="#">Mamoud@gmail.com</a></p>
          </div>
        </div>
        <footer>
          <hr />
          © 2023 MyBLOG .
        </footer>
      </div>
</body>
</html>